/* ..............GENERALITES...............*/
body * {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: #A36D3E;
  background-color: white;
  line-height: 1.6;
  margin: 0;
}

h1 {
  font-family: "Boldonse", sans-serif;
  font-size: 4rem;
  text-align: center;
  padding: 1em;
}

h2 {
  font-family: "Boldonse", sans-serif;
  font-size: 3.2rem;
}

h3 {
  font-family: "Boldonse", sans-serif;
  font-size: 2.4rem;
  padding-bottom: 0.5em;
}

/* ..............HEADER...............*/
.home-header {
  background-color: #A36D3E;
  text-align: center;
  margin-bottom: 1em;
  width: 100%;
}

.home-header img {
  width: 11em;
}

ul {
  list-style: none;
}

.home-bouton {
  text-decoration: none;
  color: #EED7C4;
  font-size: 2rem;
}

.home-header nav ul {
  display: flex;
  justify-content: space-around;
}

.home-header nav {
  padding: 1em;
}

.home-bouton:hover {
  color: #A36D3E;
  background-color: white;
  padding: 0.5em;
}

.mb-3 {
  display: none;
}

.navbar-toggler-icon {
  width: 2.5rem;
  height: 2.5rem;
  background-size: 2.5rem 2.5rem;
}

/* ..............MAIN...............*/
.home-container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1em;
}

.home-container img {
  width: 70%;
  padding-bottom: 1em;
}

.home-container .home-article {
  border: 1px solid #a36d3e;
  padding: 1em;
  margin: 2em;
}

.image-filles {
  text-align: center;
}

.home-bouton-recipes {
  color: #A36D3E;
  transition: transform;
}

.home-bouton-recipes:hover {
  transform: scale(0.6);
}

/* ..............FORM...............*/
fieldset {
  margin: 2em 0;
  font-size: 1.6rem;
  border: 1px solid #A36D3E;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}

legend {
  padding: 0 1em;
  font-size: 1.8rem;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.field label {
  width: 30%;
  padding: 0.5em;
}

.field input {
  width: 70%;
}

input,
select,
textarea {
  border: 1px solid #A36D3E;
  border-radius: 0.5em;
  font-size: 1.6rem;
  padding: 0.5em 1em;
  color: #333;
}

select {
  width: 100%;
}

textarea {
  width: auto;
  margin: 0 1em;
  height: 10em;
}

.toolbar {
  padding: 1em 2em;
  text-align: center;
  border: 1px solid #A36D3E;
  border-radius: 0.5em;
}

.toolbar-submit {
  padding: 1em 2em;
  text-align: center;
}

.button-submit {
  padding: 0.5em 2em;
  font-size: 1.6rem;
  color: #A36D3E;
  background-color: white;
  border: 2px solid #A36D3E;
  border-radius: 0.5em;
  cursor: pointer;
}

.button-submit:hover {
  color: white;
  background-color: #A36D3E;
}

::placeholder {
  color: #A36D3E;
}

select {
  color: #A36D3E;
}

/* ..............FOOTER...............*/
.home-footer {
  background-color: #EED7C4;
  margin-top: 5em;
}

.footer-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-flex p {
  font-weight: bold;
}

.reseaux-sociaux i {
  padding: 1em;
}

/* ..............VERSION TABLETTE...............*/
@media screen and (max-width: 1200px) {
  .home-container {
    width: 95%;
  }

  .mb-3 {
    display: block;
  }

  .version-grand-ecran {
    display: none;
  }

  .home-article {
    margin: 0;
  }

  h1 {
    padding: 1em 0;
  }

  h3 {
    padding: 1em 0;
  }

  .footer-flex {
    justify-content: center;
    flex-direction: column;
  }

  .reseaux-sociaux {
    height: auto;
  }
}
/* ..............VERSION MOBILE...............*/
@media screen and (max-width: 780px) {
  .home-container {
    width: 100%;
    margin: 0;
  }
}
.recipe-index-main {
  line-height: 1.25;
  text-align: center;
  padding-top: 2rem;
}

.recipes-main-generated-area {
  margin: 2rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.25rem;
  row-gap: 2rem;
}

.recipes-main-section {
  padding-top: 2em;
}

.recipe-card {
  border-radius: 10px;
  border: 1px solid #EED7C4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.recipe-image-container {
  display: flex;
  height: 20rem;
}

.recipe-image {
  object-fit: cover;
  width: 100%;
}

.recipe-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.recipe-content {
  padding: 0 2rem;
}

.recipe-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.search-input-group {
  margin-bottom: 2rem;
}

.recipe-search-button {
  margin-left: 2rem;
}

.recipe-search-button,
.advanced-toggle,
.reset-filters-btn,
.recipe-bottom-container a {
  text-decoration: none;
  color: #A36D3E;
  font-weight: 600;
  background-color: white;
  border: 2px solid #A36D3E;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.reset-filters-btn:hover,
.advanced-toggle:hover,
.recipe-bottom-container a:hover {
  background-color: #A36D3E;
  color: white;
}

.advanced-filters-panel {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 3rem;
}

.recipe-search-input,
.filter-input {
  border: none;
  border-bottom: 1px solid #A36D3E;
  background-color: white;
}

.recipe-search-input:focus,
.filter-input:focus {
  outline: none;
  border-color: #A36D3E;
}

.recipe-search-input::placeholder,
.filter-input::placeholder {
  color: #A36D3E;
}

.filter-select {
  border: 1px solid #A36D3E;
  background-color: white;
  color: #A36D3E;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.results-counter {
  margin-top: 2rem;
}

.show {
  display: flex;
}

@media screen and (max-width: 1230px) {
  .recipes-main-generated-area {
    grid-template-columns: 1fr 1fr;
  }

  .recipe-image-container {
    height: 15rem;
  }

  .recipe-bottom-container a {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .recipes-main-generated-area {
    grid-template-columns: 1fr;
  }

  .recipe-image-container {
    height: 15rem;
  }

  .recipe-bottom-container a {
    margin-top: 1rem;
  }

  .show {
    flex-direction: column;
  }
}
/* ..............GENERALITES...............*/
body * {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: #A36D3E;
  background-color: white;
  line-height: 1.6em;
  margin: 0;
}

/* ..............LAYOUT...............*/
.flex {
  display: flex;
}

.left-side {
  width: 70%;
  margin-left: 4em;
}

.right-side {
  padding-right: 4em;
  padding-top: 2em;
}

.content {
  justify-content: space-between;
}

.top-description {
  justify-content: space-around;
}

/* ..............HEADER...............*/
#recipe-header-page {
  text-align: center;
  padding-top: 1em;
}
#recipe-header-page h2 {
  font-family: "Boldonse", sans-serif;
  font-size: 3.2rem;
}

/* ..............MAIN.................*/
#recipe-main {
  margin: 0 0 0 4em;
}

.img-contenair {
  justify-content: center;
}

.description-recipe {
  padding-bottom: 2em;
}
.description-recipe .recipe-presentation {
  text-align: center;
}
.description-recipe img {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.right-side {
  background-color: #EED7C4;
}
.right-side h3 {
  padding-left: 1rem;
}
.right-side ul {
  padding-inline-start: 1em;
  padding-inline-end: 1em;
}
.right-side .one-ingredient {
  border-bottom: 1px dotted;
}

/* ..............MAIN.................*/
.home-footer {
  margin-top: 0;
}

@media screen and (max-width: 1200px) {
  .left-side {
    margin-left: 2em;
  }

  #recipe-main {
    margin: 0;
  }
}
@media screen and (max-width: 780px) {
  .mediatel {
    display: block;
  }

  .left-side {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
iframe {
  width: 40%;
  margin: 1em;
}

.video-youtube {
  display: flex;
  justify-content: space-around;
}

.bx-wrapper {
  margin: auto;
}

.bx-wrapper img {
  margin: auto;
}

.ressources-partners {
  margin-bottom: 4em;
}

@media screen and (max-width: 1200px) {
  iframe {
    width: 60%;
  }
}
@media screen and (max-width: 780px) {
  .video-youtube {
    justify-content: center;
    flex-direction: column;
  }

  iframe {
    width: 80%;
  }
}

/*# sourceMappingURL=index.css.map */
