body {
    line-height: 1.25;
}

.recipes-main-generated-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.25rem;
    row-gap: 1.25rem;
}

.recipe-card {
    height: 5rem;
}

.recipe-image {
    object-fit: cover;
    width: 100%;
}