/* ..............GENERALITES...............*/
body * {
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
}


body{
    font-family:$font-family;
    font-size:$font-size-p;
    color: $color-brown;
    background-color:white;
    line-height: 1.6;
    margin: 0;
}


h1{
    font-family:$font-family-title;
    font-size:$font-size-h1;
    text-align:center;
    padding:1em;
}


h2{
    font-family:$font-family-title;
    font-size:$font-size-h2;
    
}


h3{
    font-family:$font-family-title;
    font-size:$font-size-h3;
    padding-bottom: 0.5em;
}








/* ..............HEADER...............*/


.home-header {
    background-color: $color-brown;
    text-align:center;
    margin-bottom:1em;
    width:100%;
    
}

.home-header img {
    width:11em;
}

ul{
    list-style:none
}
.home-bouton{
    text-decoration:none;
    color:$color-beige;
    font-size: 2rem;
}

.home-header nav ul{
    display : flex;
    justify-content:space-around;
}


.home-header nav{
    padding:1em;
}


.home-bouton:hover{
    color:$color-brown;
    background-color:white;
    padding:0.5em;
    
}


.mb-3{
    display:none;
}


.navbar-toggler-icon {
  width: 2.5rem;  
  height: 2.5rem; 
  background-size: 2.5rem 2.5rem;
}

/* ..............MAIN...............*/

.home-container{
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1em; 
    
}

.home-container img {
    width:70%;
    padding-bottom:1em;
    
}



.home-container .home-article{
    border:1px solid rgba(163, 109, 62, 1);
    padding:1em;
    margin:2em;
}


.image-filles{
    text-align:center;
}


.home-bouton-recipes{
    color:$color-brown;
    transition: transform;
    
}

.home-bouton-recipes:hover{
     transform: scale(0.6);
}


/* ..............FORM...............*/

fieldset {
    margin: 2em 0;
    font-size: 1.6rem;
    border: 1px solid $color-brown;
    border-radius: 0.5em;
    display:flex;
    flex-direction:column;
    padding:1em 0;
}

legend {
    padding: 0 1em;
    font-size: 1.8rem;
}

.field {
    display: flex;
    flex-direction: column;
    padding: 1em;
}
   


.field label {
    width: 30%;
    padding: 0.5em;
}

.field input {
    width: 70%;
}



input,
select,
textarea {
    border: 1px solid $color-brown;
    border-radius: 0.5em;
    font-size: 1.6rem;
    padding: 0.5em 1em;
    color: #333;
}

select 
 {
    width: 100%;
}


textarea {
    width: auto;
    margin: 0 1em;
    height: 10em;

}





.toolbar {
    padding: 1em 2em;
    text-align: center;
    border: 1px solid $color-brown;
    border-radius: 0.5em;
}


.toolbar-submit{
    padding: 1em 2em;
    text-align: center;
   
}

.button-submit {
    padding: 0.5em 2em;
    font-size: 1.6rem;
    color: $color-brown;
    background-color: white;
    border: 2px solid $color-brown;
    border-radius: 0.5em;
    cursor: pointer;
}
    
.button-submit:hover {
    color: white;
    background-color: $color-brown;
}



::placeholder{
    color: $color-brown;
}



select {
    color:$color-brown ;
}





/* ..............FOOTER...............*/


.home-footer{
    background-color: $color-beige;
   
    margin-top:5em;
}



.footer-flex{
    display:flex;
    justify-content:space-around;
    align-items:center;
}


.footer-flex p{
    font-weight:bold;
}

.reseaux-sociaux i{
    padding:1em;
}







/* ..............VERSION TABLETTE...............*/


@media screen and (max-width: 1200px) {
    
    .home-container{
    width: 95%;
    
 

    }
  
    .mb-3{
        display:block;
    }
    
    
    .version-grand-ecran{
        display:none;
    }
    
     .home-article {
          margin:0;
         
      }
      
    
    h1{
        padding:1em 0;
    }
    
    h3{
        padding:1em 0;
    }
    
    
    .footer-flex {
        justify-content:center;
        flex-direction: column;
        
    }
    
    
    .reseaux-sociaux{
        height:auto;
    }
}





/* ..............VERSION MOBILE...............*/


@media screen and (max-width: 780px) {
         .home-container {
            width: 100%;
            margin:0;
      }
      
     
     
   
  

}
